# Build
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/

# Android
*.apk
*.aab

# Logs
*.log

# User files
*.user
*.suo

# Mac / Linux lixo
.DS_Store

# Firebase local configs (se usar depois)
google-services.json

# Firebase Private Key
**/firebase_key.json