name: Build Marmoraria APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.5' 
          channel: 'stable'

      - name: Install Dependencies
        run: |
          # Instalamos o Flet e a websockets direto no servidor
          pip install flet==0.23.2 websockets==13.1
          cd marmoraria-app
          # Aqui instalamos o seu requirements (que deve estar sem o Pillow)
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Build APK
        run: |
          cd marmoraria-app
          # Comando simples e direto, sem a flag que deu erro
          flet build apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Central-Granitos-APK
          path: marmoraria-app/build/apk/*.apk